* {
    box-sizing: border-box;
    font-family: inter;
}

body {
    margin: 0;
    background-color: #272736;
}

.Navbar1 {
    margin: 0;
    display: flex;
    background-color: #1e1e2e;
    padding-top: 50px;
    padding-bottom: 50px;
}
.NavbarLeft {
    padding-left: 20px;
    color: aqua;
}

.NavbarText {
   margin-left: auto;
   padding-right: 40px;
   color: azure;
}

.ListHeader {
    font-size: 50px;
    color: azure;
    padding-left: 55px;
    letter-spacing: -0.05em;
}

.List {
    font-size: 25px;
    margin: 10px ;
    padding-left: 75px;
    color: azure;
    max-width: 600px;
    
}

li {
    margin-bottom: 20px;
    
}

.List > ::marker {
    font-size: 30px;
    color:aqua;
}

.Logo {
    filter: grayscale(100%) brightness(0.3);
    position: absolute;
    width: 400px;
    float:right;
}

.Main {
    padding-top: 30px;
}

.BackgroundImage {
    float: right;
    width: 200px;
}